In [182]:
import pandas as pd

In [183]:
regime_list = pd.read_csv('C:/Users/HP/Downloads/regime_list.csv')

In [184]:
regime_list.head(3)

,cowcode,gwf_country,gwf_casename,gwf_startdate,gwf_enddate,gwf_regimetype
0,2,USA,USA9/1/1787,3/4/1789,12/31/2020,presidential
1,20,Canada,Canada11668,12/11/1931,12/31/2020,parliamentary
2,31,Bahamas,Bahamas6/30/1973,6/30/1973,12/31/2020,parliamentary

In [185]:
#отсортировали по алфавиту
regime_list = regime_list.sort_values('gwf_country', ascending=True)

In [186]:
#удалили ненужные столбцы
regime_list = regime_list.drop(['gwf_casename'], axis=1)

In [187]:
df = pd.read_csv('C:/Users/HP/Downloads/etalon_country_list.csv')

In [188]:
df.head(3)

   Unnamed: 0      country
0           0  Afghanistan
1           1        Aland
2           2      Albania

In [189]:
country = df.drop(['Unnamed: 0'], axis=1)

In [190]:
leaderlist = pd.read_csv('C:/Users/HP/Downloads/leaderlist_2_21.csv', encoding = "ISO-8859-1")

In [191]:
#выбрали нужные колонки из датасета
leaderlist = leaderlist[['ccode', 'stateabb', 'leader', 'syear', 'l_year', 'militarycareer']]

In [192]:
#склеили по коду страны, два датасета(режимы и лидеры)
general = regime_list.merge(leaderlist, how = 'outer' , left_on='cowcode', right_on='ccode')

In [193]:
general.head(4)

,cowcode,gwf_country,gwf_startdate,gwf_enddate,gwf_regimetype,ccode,stateabb,leader,syear,l_year,militarycareer
0,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Mahmud Khan Ghazi,1946,NaN,0.0
1,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Sardar Mohammad Daud Khan,1953,NaN,0.0
2,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Mohammad Yusuf,1963,NaN,1.0
3,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Mohammad Hashim Maiwandwal,1965,NaN,0.0

In [194]:
general = general.drop(['ccode', 'cowcode','stateabb'], axis=1)

In [195]:
#склеили общую таблицу с эталонным списком стран
general_country = df.merge(general, how = 'outer', left_on='country', right_on='gwf_country')

In [196]:
general_country

,Unnamed: 0,country,gwf_country,gwf_startdate,gwf_enddate,gwf_regimetype,leader,syear,l_year,militarycareer
0,0.0,Afghanistan,Afghanistan,4/16/1992,9/27/1996,warlordism,Mahmud Khan Ghazi,1946.0,NaN,0.0
1,0.0,Afghanistan,Afghanistan,4/16/1992,9/27/1996,warlordism,Sardar Mohammad Daud Khan,1953.0,NaN,0.0
2,0.0,Afghanistan,Afghanistan,4/16/1992,9/27/1996,warlordism,Mohammad Yusuf,1963.0,NaN,1.0
3,0.0,Afghanistan,Afghanistan,4/16/1992,9/27/1996,warlordism,Mohammad Hashim Maiwandwal,1965.0,NaN,0.0
4,0.0,Afghanistan,Afghanistan,4/16/1992,9/27/1996,warlordism,Abdallah Yakta,1967.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
9225,NaN,NaN,Yemen South,10/30/1967,5/22/1990,party-based,Ali Rubayyi,1969.0,NaN,0.0
9226,NaN,NaN,Yemen South,10/30/1967,5/22/1990,party-based,Ali Nassir Hassani,1978.0,NaN,0.0
9227,NaN,NaN,Yemen South,10/30/1967,5/22/1990,party-based,Ismail,1978.0,1978.0,0.0
9228,NaN,NaN,Yemen South,10/30/1967,5/22/1990,party-based,Ali Nassir Hassani,1980.0,NaN,0.0
9229,NaN,NaN,Yemen South,10/30/1967,5/22/1990,party-based,Attas,1986.0,1986.0,0.0

In [197]:
general_country.to_csv('general_regime_leader.csv', index=False)