In [225]:
import pandas as pd

In [226]:
regime_list = pd.read_csv('C:/Users/HP/Downloads/regime_list.csv')

In [227]:
regime_list.head(3)

,cowcode,gwf_country,gwf_casename,gwf_startdate,gwf_enddate,gwf_regimetype
0,2,USA,USA9/1/1787,3/4/1789,12/31/2020,presidential
1,20,Canada,Canada11668,12/11/1931,12/31/2020,parliamentary
2,31,Bahamas,Bahamas6/30/1973,6/30/1973,12/31/2020,parliamentary

In [228]:
#отсортировали по алфавиту
regime_list = regime_list.sort_values('gwf_country', ascending=True)

In [229]:
#удалили ненужные столбцы
regime_list = regime_list.drop(['gwf_casename'], axis=1)

In [230]:
df = pd.read_csv('C:/Users/HP/Downloads/etalon_country_list.csv')

In [231]:
df.head(3)

   Unnamed: 0      country
0           0  Afghanistan
1           1        Aland
2           2      Albania

In [232]:
country = df.drop(['Unnamed: 0'], axis=1)

In [233]:
leaderlist = pd.read_csv('C:/Users/HP/Downloads/leaderlist_2_21.csv', encoding = "ISO-8859-1")

In [234]:
#выбрали нужные колонки из датасета
leaderlist = leaderlist[['ccode', 'stateabb', 'leader', 'syear', 'l_year', 'militarycareer']]

In [235]:
#склеили по коду страны, два датасета(режимы и лидеры)
general = regime_list.merge(leaderlist, how = 'outer' , left_on='cowcode', right_on='ccode')

In [236]:
general.head(4)

,cowcode,gwf_country,gwf_startdate,gwf_enddate,gwf_regimetype,ccode,stateabb,leader,syear,l_year,militarycareer
0,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Mahmud Khan Ghazi,1946,NaN,0.0
1,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Sardar Mohammad Daud Khan,1953,NaN,0.0
2,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Mohammad Yusuf,1963,NaN,1.0
3,700,Afghanistan,4/16/1992,9/27/1996,warlordism,700,AFG,Mohammad Hashim Maiwandwal,1965,NaN,0.0

In [237]:
general = general.drop(['ccode', 'cowcode','stateabb'], axis=1)

In [238]:
#склеили общую таблицу с эталонным списком стран
general_country = df.merge(general, how = 'outer', left_on='country', right_on='gwf_country')

In [239]:
general_country.drop(['Unnamed: 0', 'gwf_country'], axis=1, inplace=True)

In [240]:
#удаляем строки, где пустые значения в столбце Country
general_country.dropna(subset=['country'], inplace=True)

In [241]:
general_country

,country,gwf_startdate,gwf_enddate,gwf_regimetype,leader,syear,l_year,militarycareer
0,Afghanistan,4/16/1992,9/27/1996,warlordism,Mahmud Khan Ghazi,1946.0,NaN,0.0
1,Afghanistan,4/16/1992,9/27/1996,warlordism,Sardar Mohammad Daud Khan,1953.0,NaN,0.0
2,Afghanistan,4/16/1992,9/27/1996,warlordism,Mohammad Yusuf,1963.0,NaN,1.0
3,Afghanistan,4/16/1992,9/27/1996,warlordism,Mohammad Hashim Maiwandwal,1965.0,NaN,0.0
4,Afghanistan,4/16/1992,9/27/1996,warlordism,Abdallah Yakta,1967.0,NaN,0.0
...,...,...,...,...,...,...,...,...
8526,Zimbabwe,10/11/1965,5/29/1979,oligarchy,Mnangagwa,2017.0,2018.0,1.0
8527,Zimbabwe,5/29/1979,4/18/1980,provisional,Smith,1965.0,1965.0,0.0
8528,Zimbabwe,5/29/1979,4/18/1980,provisional,Muzorewa,1979.0,1979.0,0.0
8529,Zimbabwe,5/29/1979,4/18/1980,provisional,Mugabe,1980.0,1980.0,0.0
8530,Zimbabwe,5/29/1979,4/18/1980,provisional,Mnangagwa,2017.0,2018.0,1.0

In [242]:
general_country.to_csv('general_regime_leader.csv', index=False)